<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Calculator</title>
    <style>
        .result{
            font-size: 20pt;
        }
    </style>
    <script src="angular.js"></script>
    <script src="MathCalculator.js"></script>

    <script>
        var calculatorApp = angular.module("calculatorApp", []);
        calculatorApp.controller("calculatorController", function($scope){
            $scope.calculator = new MathCalculator();
        });
    </script>
</head>
<body ng-app="calculatorApp" ng-controller="calculatorController">
    <h1>Math Calculator</h1>
    <hr>
    <input type="number" ng-model="calculator.number1">
    <input type="number" ng-model="calculator.number2">
    <select >
        <option value="add">add</option>
        <option value="subtract">subtract</option>
        <option value="multiply">multiply</option>
        <option value="divide">divide</option>
    </select>
    <input type="button" value="Calculate">
    <div class="result" ng-bind="calculator.result">[Result]</div>
</body>
</html>
